@charset "UTF-8";

.imgWrap{

}

.imgWrap ul{
   list-style:none;
   overflow:auto;
}

.imgWrap ul li{
   width:32%;
   float:left;
   margin-left:2%;
   
}

.imgWrap ul li:nth-child(1),
.imgWrap ul li:nth-child(2),
.imgWrap ul li:nth-child(3){margin-bottom:10px;}
.imgWrap ul li:nth-child(3n+1){margin-left:0%;}
.imgWrap ul li img{width:100%;}

