@charset "UTF-8";

/* 공통스타일 */
*{margin:0; padding:0;}
body{
	font:12px/1.6  "맑은 고딕";
	color:#444;
	}
a{
	color:#444;
	text-decoration:none;
	}
ul{list-style:none;}

/* 레이아웃 스타일 */
html,body{height:100%;}
header{
	width:15%;
	height:100%;
	position:fixed;
	box-shadow:1px 0 20px rgba(0,0,0,0.1);
	z-index:5;
	}
.rightWrap{
	width:85%;
	position:relative;
	left:15%;
}

	.lnb{
		background:#212121;
		position:relative;
		width:100%;
		height:35px;
	}
	
	section{overflow:auto;}
	
	article{
		width:20%;
		height:250px;
		float:left;
		animation:boxScale 1s 1; /* 1초동안 1번 */
		}

	article:nth-child(1){width:60%;height:500px;background:#ddd;}
	article:nth-child(2){width:40%;background:#eee;}
	article:nth-child(3){background:#bbb;}
	article:nth-child(4){background:#aaa;}
	article:nth-child(5){background:#ccc;}
	article:nth-child(6){width:40%;background:#999;}
	article:nth-child(7){background:#888;}
	article:nth-child(8){background:#777;}
	article:nth-child(9){width:40%;background:#666;}
	article:nth-child(10){background:#555;}
	article:nth-child(11){background:#444;}
	article:nth-child(12){background:#333;}

	@keyframes boxScale{
		0%{transform:scale(0);}
		100%{transform:scale(1);}
	}

	article>div{
		position:relative;
		width:100%;	/* 영역이 100%되어 글씨가 아래로 내려갈수있다. */
		height:100%;
		overflow:hidden;
		}

/* header 상세스타일 */
.logo{
	position:absolute;
	top:60px;
	left:50%;
	transform:translateX(-50%);
	background:yellow;
	/* h1에 있는 텍스트 없애는 방법 */
	width:180px;
	height:136px;
	background:url(../img/logo1.png) no-repeat center center;
	text-indent:-999px;
	overflow:hidden;
}
.gnb{
	position:absolute;
	top:300px;
	right:50%;			/* 반응형일때 화면이 작아졌을때 위기준 오른쪽으로 오기때문에 */
	transform:translateX(50%);
}
.gnb ul{}
.gnb ul li{}
.gnb ul li a{
	display:block;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px 20px;
	}
.gnb ul li a:hover,
.gnb ul li a:focus{color:skyblue;}

.snsSet{
	position:absolute;
	bottom:50px;
	right:50%;
	transform:translateX(50%);
	width:90px;
}
.snsSet a{}
.snsSet a img{float:left;}

/* .lnb 스타일 */
.lnb a{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	}
.lnb a:nth-child(1){left:10px;}
.lnb a:nth-child(2){left:140px;}
.lnb a:nth-child(3){right:86px;}
.lnb a:nth-child(4){right:10px;}

/* article 배경 이미지 삽입 스타일 */
article .bg{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
}
article .bg1{background-image:url(../img/clean24.jpg);}
article .bg2{background-image:url(../img/clean15.jpg);}
article .bg3{background-image:url(../img/clean08.jpg);}
article .bg4{background-image:url(../img/outside.jpg);}
article .bg5{background-image:url(../img/clean23.jpg);}
article .bg6{background-image:url(../img/clean15.jpg);}
article .bg7{background-image:url(../img/aircon.jpg);}






/* 배경이미지 문자열 스타일 */
article .bg span{
	position:absolute;
	right:20px;
	bottom:0;
	font-size:50px;
	color:white;
	transform:scale(5);
	opacity:0;
	transition:0.5s;
}
article:hover .bg span{
	opacity:1;
	transform:scale(1)
}

article .bg1 span{
	opacity:1;
	font-size:170px;
	transform:scale(1);
	bottom:-75px;
	transform:rotate(0deg);
}
article:hover .bg1 span{
	color:#222;
	transform:rotate(360deg);
}

/* 텍스트 박스 스타일 */

article .txt{
	background:white;
	font-size:1.3em;
	transition:0.5s;
	}
article:nth-child(3) .txt{
	background:#bff7f9;
}
article .txt p{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:40px;
}
article .txt p strong{
	font-size:2em;
	font-weight:normal;
	}
article .txt p em{}

article:hover .txt{
	background:#6ce2fa;
	color:white;
}

@media screen and (max-width:1560px){
	header{
		width:100%;
		height:80px;
		position:relative;
		box-shadow:0 1px 20px rgba(0,0,0,0.1);
		}
	.rightWrap{
		width:100%;
		left:0;
	}
	
	/* header 상세스타일 */
	.logo{
		top:50%;
		left:10px;
		transform:translate(0%,-50%);
		/* h1에 있는 텍스트 없애는 방법 */
		background:url(../img/logo2.png) no-repeat center center;
		width:250px;
		height:50px;
		

	}
	.gnb{
		top:50%;
		right:180px;			/* 반응형일때 화면이 작아졌을때 위기준 오른쪽으로 오기때문에 */
		transform:translate(0,-50%);
	}
	.gnb ul{}
	.gnb ul li{float:left;}
	.gnb ul li a{margin-bottom:0px;}
	.gnb ul li a:hover,
	.gnb ul li a:focus{color:skyblue;}

	.snsSet{
		bottom:50%;
		right:20px;
		transform:translate(0,50%);
	}
	.snsSet a{}
	.snsSet a img{float:left;}

}

@media screen and (max-width:1280px){
	.gnb{right:0px;}
	.snsSet{display:none;}

	article:nth-child(1){width:100%;}
	article:nth-child(2){width:100%;}
	article:nth-child(3){width:50%;}
	article:nth-child(4){width:50%;}
	article:nth-child(5){width:50%;}
	article:nth-child(6){width:50%;}
	article:nth-child(7){width:50%;}
	article:nth-child(8){width:50%;}
	article:nth-child(9){width:50%;}
	article:nth-child(10){width:50%;}
	article:nth-child(11){width:50%;}
	article:nth-child(12){width:50%;}
}

@media screen and (max-width:780px){
	header{height:120px;}
	.lnb{display:none;}
	article{height:180px;}
	article:nth-child(1){height:360px;}
	
/* header 상세스타일 */
.logo{
	top:20px;
	left:50%;
	transform:translate(-50%,0);
	/* h1에 있는 텍스트 없애는 방법 */
	}
	
.gnb{
	top:80px;
	right:0px;			/* 반응형일때 화면이 작아졌을때 위기준 오른쪽으로 오기때문에 */
	transform:translate(0%,0%);
	width:100%;
	}
.gnb ul{}
.gnb ul li{
	float:left;
	width:25%;
	text-align:center;
	}

.snsSet{display:none;}
.lnb{display:none;}



@media screen and (max-width:550px){

/*레이아웃 스타일*/
header{
	height:80%;	/*body 밑의 html, body에 height 100%를 해줘라. 80%으로 하는 이유는 몰디브 아티클에 마우스 올렸을때 동작하는 것을 유지하기 위함이다.*/
	width:100%;

	box-shadow:none;
	}
	
article{display:none;}
article:nth-child(1){
	display:block;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	}
	
/*hedaer 스타일*/
.logo{
	background:url(../img/logo1.png) no-repeat center,center;
	top:50px;
	width:180px;
	height:136px;
	/* h1에 있는 텍스트 없애는 방법 */
	}
	
.gnb{
	top:250px;
	right:50%;			/* 반응형일때 화면이 작아졌을때 위기준 오른쪽으로 오기때문에 */
	transform:translate(50%,0%);
	width:60%;
	}
.gnb ul{}
.gnb ul li{
	clear:left;	/*float left를 해제하는 것이 clear left이다.*/
	width:100%;
	margin-bottom:15px;
	}
	
.gnb ul li a{
	border-radius:25px;
	padding:10px 0;
	color:white;
	transition:0.5s;
	/*display:block;
	font-size:1.5em;
	font-weight:bold;
	margin-bottom:10px;
	padding:5px 20px;*/
		
	/*background:rgba(0,0,0,0.5);*/
	background:black;
	opacity:0.6;
	}
.gnb ul li a:hover,
.gnb ul li a:focus{
	transform:scaleX(1.1);	
	/*background:rgba(0,0,0,1);*/
	opacity:1;}
